 <footer id="footer" class="footer">
    <div class="container">
      <div class="hm-footer-copyright text-center">
        <div class="footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <p>
          &copy;Copyright 2021 |
          <a href="https://www.parotadelcarmen.com">Parota Del Carmen</a>
        </p>
        <!--/p-->
      </div>
          
</footer>