<section id="sofa-collection">
    <div class="owl-carousel owl-theme" id="collection-carousel">
        <div class="sofa-collection collectionbg1">
            <div class="container">
                <div class="sofa-collection-txt">
                    <h2>Our Story</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
</section>
<!--/.sofa-collection-->